.cooperation
{
    background-color: #f2f2f2;

    &_icons
    {
        .item_img
        {
            border:5px solid $blue;
            @include media-breakpoint-up(md)
            {
                border:10px solid $blue;
            }
        }
        .idx
        {
            position: absolute;
            z-index: 2;
            background: $main_color;
            padding: 5px 12px;
            right: -40px;
            bottom: 0;

        }
        .row
        {
            .item
            {
                &:last-child
                {
                    .item_img
                    {
                        border-color: $main_color;
                    }

                }
            }

        }
    }
}
