.in_numbers
{
    background: url(../img/bg_img_4.jpg) 0 0 no-repeat;
    background-size: cover;
    .item_inner
    {
        width: 100%;
        transform: rotate(45deg);
        overflow: hidden;

        &>div
        {
            max-width: 100%;
            transform: rotate(-45deg) scale(1.42);
        }

    }
}
