.one_side_view
{
    background: url("../img/bg_img_1.jpg") 0 0 no-repeat;
    background-size:cover;

    iframe
    {
        width: 80%;
        @media (min-width:380px) {
            width: 70%;
        }
        @media (min-width:440px) {
            width: 50%;
        }
        @include media-breakpoint-up(md)
        {
            width: 80%;
        }
        @include media-breakpoint-up(xl)
        {

            height: 280px;
        }
    }
    .iframe_wrap
    {
        position: relative;
        z-index: 1;
    }
    .iframe_wrap:after
    {
        z-index: -1;
        content: '';
        background: url("../img/laptop.png") 50% 0 no-repeat;
        background-size:contain;
        position: absolute;

        width:120%;
        height: 130%;
        left: -10%;
        top: -10%;
        @include media-breakpoint-up(md)
        {
            width:130%;
            height: 130%;
            left: -15%;
            top: -15%;
        }

    }



}