@keyframes fixedpanel {
    0% {
        opacity: 0;
        top: -43px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
.fixed_top_panel .header{
    position: fixed;
    z-index: 120;
    animation: fixedpanel .8s both;
}

.header{
    position: relative;
    top:0;
    right: 0;
    left: 0;
}